$btnDefaultBackground: #f1f1f1;
$btnDefaultColor: #424242;
$btnActiveBackground: #01579B;
$btnActiveColor: #fff;

// Shadows
$cardShadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.15);
$dragElementShadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
