/* Grid system */
$cols: 12;
$gap: 8px;
$breakPoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  x2k: 1600px,
  x4k: 2560px,
);

.grid-row {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}
[class*="col-"],
.col {
  width: 100%;
  padding: 0 calc($gap / 2);
}

@mixin make-offset($size, $columns: $cols) {
  $num: calc($size / $columns);
  margin-left: if($num == 0, 0, calc(($num * 100) * 1%));
}
@mixin make-pull($size, $columns: $cols) {
  $num: calc($size / $columns);
  margin-right: if($num == 0, 0, calc(($num * 100) * 1%));
}
@mixin make-offset($size, $columns: $cols) {
  $num: calc($size / $columns);
  margin-top: if($num == 0, 0, calc(($num * 100) * 1%));
}
@mixin make-pull($size, $columns: $cols) {
  $num: calc($size / $columns);
  margin-bottom: if($num == 0, 0, calc(($num * 100) * 1%));
}
@mixin cols($bkp, $colums, $prefix) {
  @each $name, $bk in $bkp {
    @media (min-width: $bk) {
      @for $i from 0 to $colums + 1 {
        @if $i == 0 {
          .#{$prefix}-#{$name}-0 {
            display: none;
          }
        } @else if $i > 0 {
          .#{$prefix}-#{$name}-#{$i} {
            width: calc(($i * 100) / $colums * 1%);
            display: block;
            transition: width 0.3s ease;
          }
          .#{$prefix}-flex-#{$name}-#{$i} {
            display: flex;
            width: calc(($i * 100) / $colums * 1%);
            transition: width 0.3s ease;
          }
        }
      }
    }
  }
}
@include cols($breakPoints, $cols, "col");
/*****************************************************/
