<div row>
  <div col>
    <div class="drag-panel">
      <div class="drag-area">
        <div class="container">
          <div row [gutter]="[0, 10]">
            <div
              *ngFor="let item of aunswers"
              col
              xs="6"
              sm="6"
              md="3"
              lg="3"
              xl="3"
              xxl="3"
              x2k="3"
              x4k="3"
            >
              <div
                class="drag-card-item"
                cdkDrag
                (cdkDragEnded)="onDragEnd($event)"
              >
                <div class="drag-badge"></div>
                <div class="drag-title">{{item.correct_aunswer}}</div>
                <div class="drag-icon">
                  <i class="bi bi-grip-vertical"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
